<!--begin::Header-->
<% breadcrumbs_navigation_add (t('partner.dashboard.partner_list')), '#' %>
<%= render_partner_breadcrumbs_navigation (t('partner.dashboard.partner_list')) %>		
<!--end::Header-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Container-->
	<div class="container-fluid" id="kt_content_container">
		<!--begin::Tab Content-->
		<div class="tab-content">
			<!--begin::Tab pane-->
			<div id="kt_project_users_card_pane" class="tab-pane fade show active">
                <h1>Kodawarione::PartnerManage::PartnerManage#index</h1>
                <p>Find me in app/views/kodawarione/partner_manage/partner_manage/index.html.erb</p>
            </div>
        </div>
    </div>
</div>