<p><%= @company_name %> 様</p> 
<p><%= t('welcome.mailer.required_info') %></p>
<p>URL : <%= link_to t('welcome.mailer.company_confrim_mail_text1'), company_user_session_url %></p>
<p><%= t('welcome.mailer.company_confrim_mail_text2') %><p>
