<h1>Editing Kodawarione Company Role</h1>

<%= render 'form', kodawarione_company_role: @kodawarione_company_role %>

<%= link_to 'Show', @kodawarione_company_role %> |
<%= link_to 'Back', kodawarione_company_roles_path %>
