<!--begin::Header-->
<% breadcrumbs_navigation_add (t('dashboard.job_seeker')), '#' %>
<%= render_partner_breadcrumbs_navigation(t ('student.title.header_link1')) %>		
<!--end::Header-->
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Container-->
	<div class="container-fluid" id="kt_content_container">
		<!--begin::Tab Content-->
		<div class="tab-content">
			<!--begin::Tab pane-->
			<div id="kt_project_users_card_pane" class="tab-pane fade show active">
			<% if can?(:search_student, Kodawarione::StudentManage)%>
				<%= render partial: "kodawarione/shared/student_manage/search_student", locals: {url: kodawarione_student_manage_search_student_path, result: @results, assessment: @assessment}  %>  
			<% end %>
            </div>
        </div>
    </div>
</div>