<!--begin::Footer-->
<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
	<!--begin::Container-->
	<div class="container d-flex flex-column flex-md-row flex-stack">
		<!--begin::Copyright-->
		<div class="text-dark order-2 order-md-1">
			<div class="symbol symbol-100 me-2"> 
                <%= image_tag "layout/header_logo.png", class: "w-125px w-lg-150px h-50 align-self-center" %>
            </div> 
		</div>
		<!--end::Copyright-->
		<!--begin::Menu-->
		<ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
			<%= link_to t('welcome.privacy policy.top_page_link.link1'),welcome_privacy_path, class: "nav-link pr-3 pl-0" %>
			<%= link_to t('welcome.privacy policy.top_page_link.link2'), welcome_term_condition_path, class: "nav-link px-3"%>
			<%= link_to t('welcome.privacy policy.top_page_link.link3'), welcome_contact_path, class: "nav-link pl-3 pr-0"  %> 
		</ul>
		<!--end::Menu-->
	</div>
	<!--end::Container-->
</div>
<!--end::Footer-->