<!--begin::Header-->
<% breadcrumbs_navigation_add (t('btn.company_search')), '#' %>
<%= render_partner_breadcrumbs_navigation(t('btn.company_search')) %>        	
<!--end::Header-->
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Container-->
	<div class="container-fluid" id="kt_content_container">
		<!--begin::Tab Content-->
		<div class="tab-content">
			<!--begin::Tab pane-->
			<div id="kt_project_users_card_pane" class="tab-pane fade show active">
			<% if can?(:company_search, Kodawarione::CompanyManage) %>
                <%= render partial: "kodawarione/shared/company_manage/company_search", :locals =>{:url => kodawarione_company_manage_company_search_path} %>           
			<% end %>		
            </div>
        </div>
    </div>
</div>
<%= javascript_pack_tag "admin/admin_search.js" %>
<%= javascript_pack_tag "common.js" %>