<div class="card bg-body mb-5 mb-xl-10">
	<div class="card-body pt-9 pb-0">
		<!--begin::Navs-->
		<div class="d-flex overflow-auto h-55px">
			<ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder flex-nowrap">
				<!--begin::Nav item-->
				<li class="nav-item">
					<%= link_to t('dashboard.student'), partner_student_dashboard_path, :class=> "nav-link text-active-primary me-6 #{current_route == "student_dashboard" && 'active'}" %>
				</li>
				<!--end::Nav item-->
				<!--begin::Nav item-->
				<li class="nav-item">
                    <%= link_to t('dashboard.company'), partner_company_dashboard_path, :class=> "nav-link text-active-primary me-6 #{current_route == "company_dashboard" && 'active'}" %>
				</li>
				<!--end::Nav item-->
			</ul>
		</div>
		<!--begin::Navs-->
	</div>
</div>