<div class="toolbar py-5 py-lg-5" id="kt_toolbar">
  <!--begin::Container-->
  <div id="kt_toolbar_container" class="container-xxl d-flex flex-stack flex-wrap">    
    <!--begin::Breadcrumb-->          
    <% breadcrumbs_navigation_add (t'btn.event_search'), student_search_event_path if cookies[:previous_url] == "/student/search_event" %>
    <% breadcrumbs_navigation_add (t('common.join_event')), student_join_event_index_path if cookies[:previous_url] == "/student/join_event_index" %>
    <% breadcrumbs_navigation_add (t('common.favourite_event')), student_favourite_event_index_path if cookies[:previous_url] == "/student/favourite_event_index" %>
    <% breadcrumbs_navigation_add (t('event.title.company_event_detail')),'#' %>
    <%= render_student_breadcrumbs_navigation(t("event.title.company_event_detail")) %>                 
    <!--end::Breadcrumb-->
  </div>
</div>
<!--end::Breadcrumb--> 
<!--end::Breadcrumbs-->
<%= render partial: "student/shared/search/search_event_detail" %> 