<% if current_user %>
  <li class="page-item btn-bg-blue">
    <%= link_to url, rel: 'prev', class: 'page-link btn-bg-blue' do %>
      <i class="ki ki-bold-arrow-back icon-xs"></i>
    <% end %>
  </li>
<%else%>
  <li class="page-item btn-bg-blue">
    <%= link_to url, rel: 'prev', class: 'page-link btn-bg-blue' do %>
      <i class="fas fa-angle-left"></i>
    <% end %>
  </li>
<%end%>
