$copyRightColor: #dddddd;
$headerBoxShadowColor: #e6e5e5;
$studentColor: #f4d01f;
$companyColor: #204a9c;
$studentLoginButtonColor: #6cb201;
$studentRegisterButtonColor: #f87201;
$companyLoginButtonColor: #006dbf;
$companyRegisterButtonColor: #f87201;
$lightStudentBgColor: rgba(244, 208, 31, 0.4);
$lightCompanyBgColor: rgba(32, 74, 156, 0.4);
$studentBgPink: #fef6f1;
$studentBgBlue: #f3f8fc;
$studentBehavioralBgPink: #fce4d6;
$studentBehavioralBgLightBlue: #ddebf7;
$studentBehavioralBgGreen: #c6e0b4;
$studentBehavioralBgBlue: #9bc2e6;
$studentBehavioralBgOrange: #fff2cc;
$studentBehavioralBgBorder: #505050;
$searchFontColour: #858585;
$comTopPageTitleColour: #ff0000;
$comTopPageDivColour: #eeeeee;
$assessmentPopuptext: #000000;
$adminColor: #17a2b8;
$adminSidebarBgColor: #4e73df;
$adminSidebarLightColor: #cbd6f5;
$white: #fff;
