/* 
 *= require_tree ../theme/fonts/flaticon
 *= require_tree ../theme/fonts/flaticon2
 *= require_tree ../theme/fonts/keenthemes-icons
 *= require_tree ../fonts
 */

 @import 'select2/dist/css/select2';
 @import '../partner-theme/style.scss';
 @import 'flatpickr/dist/flatpickr.min.css';
 @import 'flatpickr/dist/plugins/monthSelect/style.css';
 @import 'trix/dist/trix';
 @import 'actiontext.scss';
 @import 'communication/communications.scss';
 @import './company/assessment.scss';
 @import 'croppie/croppie.css';
//  @import "partner/dashboard.scss";
 
 /* roboto-regular - latin */
 @font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   src: url('./roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
   src: 
        url('./roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('./roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('./roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
 }
 body {
   font-family: sans-serif, "Roboto";
 }


/* article From Plus icon**/
.hire-btn {
    position: relative;
    cursor: pointer;
}
.hire-btn .plus_minus_icon {
    position: absolute;
    top: 0.5rem;
    bottom: 0;
    right: 2.2rem;
    font-size: 19px;
    font-weight: 900;
}

.hide-trix-toolbar {
  trix-toolbar .trix-button-group--file-tools {
      display: none;
  }
}
.hide-trix-attachment {
  trix-toolbar .trix-button-group--file-tools {
    display: none;
  }
}